/*----------------------------------------------------------------------*/
/* General */

html {
    background-color: black;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

h1 {
    margin-top: 0;
    font-size: 40px;
}


/*----------------------------------------------------------------------*/
/* Estilos del header */

header {
    background-color: #FFD700;
    color: black;
    display: flex; /* Activa Flexbox */
    justify-content: space-between; /* Distribuye los contenedores a los extremos */
    align-items: center; /* Centra verticalmente el contenido */
    padding: 0 20px;
    height: 110px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Contenedor de la izquierda del header */

.header-left {
    display: flex;
    flex-direction: row; /* Coloca el h1 y p en columna */
}

/* Contenedor del logo en la izquierda */

.header-left .logo {
    margin: 0 10px 0;
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Hace el logo redondeado */
}


.header-left h1 {
    font-family: 'Lucida Sans', fantasy;
    font-size: 40px;
    font-weight: bold;
}

.header-left span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, cursive;
    margin: 5px 0 0;
    font-size: 13px;
    color: black; /* Color secundario para el subtítulo */
    font-weight: bold; /* Negrita */
    font-style: italic; /* Cursiva */
}

/* Contenedor del logo en la derecha del header */

.header-right .logo {
    margin: 0 70px 0;
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Hace el logo redondeado */
}


/*----------------------------------------------------------------------*/
/* Barra de navegación */

nav {
    background-color: #DAA520;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 100px; /* Debajo del header (ajustar según el tamaño del header) */
    z-index: 1000;
    display: flex; /* Activar Flexbox */
    justify-content: space-around; /* Espaciado equidistante entre los elementos */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

nav ul li {
    list-style: none; /* Quita el estilo de lista */
    margin: 0 100px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s ease, transform 0.3s ease;/* Aumenta el tamaño al 110%; Pero no está funcionando, preguntar por qué? */
}

nav ul li a:hover {
    color: #FFD700;
    transform: scale(1.1); /* Aumenta el tamaño al 110%; Pero no está funcionando, preguntar por qué? */
}

/*----------------------------------------------------------------------*/
/* Estilos del carrusel */

.carrito {
    scroll-margin-top: 180px;  /* Me direcciona justo debajo de la barra de navegación */
}

.carousel {
    width: 100%;
    max-width: 800px;
    margin: 175px auto 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    position: relative;
    min-width: 100%; /* Cada imagen ocupa el ancho del carrusel */
}

.slides img {
    width: 100%;
    border-radius: 10px;
}

/* Estilos para el texto sobre la imagen */
.overlay {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}

.overlay h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: justify;
}

.overlay p {
    font-size: 14px;
    margin-bottom: 15px;
    font-style: italic;
    line-height: 1.5;
    text-align: justify;
}

.overlay a {
    text-align: right;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #DAA520;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #FFFF00;
    color: black;
}

/* Estilos de los botones de navegación */
.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/*----------------------------------------------------------------------*/
/* Estilo para cada tarjeta de películas en sección Películas */

.movies {
    margin: 0px 10px 15px;
}

.movies h2 {
    margin: 15px 15px 15px;
    font-size: large;
}

.section {
    padding: 20px; 
    border-radius: 8px;
    background-color: black;
    scroll-margin-top: 140px; 
}

/* Estilos para el contenedor de actividades */

.activity-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

/* Contenedor de cada tarjeta */

.activity-card {
    width: 250px;
    height: 450px;
    perspective: 1000px; /* Profundidad para el efecto 3D */
    margin: 20px;
}

/* Contenedor interno de la tarjeta que realiza el volteo */

.flip-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
}

/* Volteo al hacer hover sobre la tarjeta */

.activity-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Cara frontal de la tarjeta */

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Oculta la parte posterior cuando no está volteada */
    border-radius: 5px; /* Bordes redondeados */
}

/* Contenido de la parte frontal */

.flip-card-front {
    background-color: #FFD700; /* Fondo Amarillo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* Imagen en la parte frontal */

.flip-card-front img {
    width: 100%;             /* Imagen ocupa el 100% del ancho */
    height: 90%;             /* Imagen ocupa el 70% de la altura de la tarjeta */
    object-fit: cover;       /* La imagen se ajusta al contenedor */
}

/* Título de la película en la parte frontal */

.flip-card-front h3 {
    width: 100%;
    height: 10%;             /* El título ocupa el 10% de la altura de la tarjeta */
    padding: 10px 0;
    font-size: 13px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    line-height: 1.3;
}

/* Parte posterior de la tarjeta */

.flip-card-back {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitranslúcido en la parte posterior */
    color: white; /* Texto blanco */
    transform: rotateY(180deg); /* Rotación para que coincida con el efecto de volteo */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; /* Necesario para posicionar el overlay */
}

/* Capa gris translúcida sobre la imagen */

.flip-card-back::before {
    content: ""; /* Necesario para crear el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Gris translúcido */
    z-index: 0; /* Asegura que la capa esté encima de la imagen */
}

/* Estilo de los elementos de texto en la parte posterior Flip */

.flip-card-back h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    align-items: center;
    z-index: 1; /* Coloca el texto encima de la capa gris */
    line-height: 1.3;
    font-weight: bold;
}

.flip-card-back p {
    font-size: 0.7em;
    margin: 5px 0;
    align-items: left;
    z-index: 1; /* Coloca el texto encima de la capa gris */
    line-height: 1.3;       ;
}


